nav, footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(61, 66, 52);
    height: fit-content;
    width: 100vw;
    padding-top: 10px;
}

nav h1 {
    padding-left: 10px;
}

.links {
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
}

.nav-links {
    text-decoration: none;
    color: antiquewhite;
    :hover {
        color: rgb(35, 32, 32);
    }
    padding-right: 10px;
}

main {
    background-color: rgb(35, 32, 32);
    color: antiquewhite;
    min-height: 100vh;
    height: fit-content;
}

.subheader {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45%;
    height: fit-content;
    /* border-style: solid; */
}

.main p {
    text-align: left;
}

section {
    display: flex;
    margin-left: 5px;
    margin-right: 5px;
    justify-content: space-evenly;
    padding-bottom: 25px;
}

img {
    max-width: 100%;
    height: auto;
}

footer {
    display: flex;
    flex-flow: row wrap;
    color: antiquewhite;
    justify-content: space-between;
    min-height: 8vh;
    height: fit-content;
}

footer h6 {
    padding-left: 15px;
}

.contact-info {
    min-width: 50vw;
    width: fit-content;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.contacts {
    padding-left: 10px;
    padding-right: 10px;
    max-height: 50px;
    max-width: 100%;
}

.contact-info > a {
    :hover {
        transform: scale(1.2);
    }
}
